<!DOCTYPE html>
<html lang="fr">
<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <title>ArtNet Light Controller</title>
</head>
<body>

    <div id="header">
        <div id="setup">
        <form action="/setupPage" method="get">
            <p><input type="image" src="static/setup.png" alt="Submit">        
        </form>
        <form action="/previousPage" method="get">
            <p><input type="image" src="static/arrow1_SmallL.png" alt="Submit">        
        </form>
        </div>
        <div id="title"><center><h1>ArtNet Light Controller</h1></center></div>
        <div id="about">
        <form action="/aboutPage" method="get">
        <p><input type="image" src="static/About.png" alt="Submit">        
        </form>
        <form action="/nextPage" method="get">
            <p><input type="image" src="static/arrow1_SmallR.png" alt="Submit">        
        </form>
        </div>
    </div>


    <div id="nav">
    <table style="width:100%" id="scene">
      <tr>
        <td>
            <form align="left" action="/scene" method=post class=select-sceneLeft name=selectScLeft>
            {% for aButton in buttonList %}
                {% if page == aButton['page'] %}
                    <p><input type=submit value={{ aButton['name'] }} name=Scene> 
                {% endif %}
            {% endfor %}
           </form>
        </td>
        <td><center> <img src={{ imageList[page] }} alt="Photo" /></center></td>
      </tr>
    </table> 
    </div>

    <div id="footer">
    Copyright © NBRemond
    </div>
    
</body>
</html>

